{% extends "base.html" %}
{% block content %}
    <h2>Cart detail</h2>
    {{ object.instance.pk }}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-dark">
            <tr>
                <td>Book</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Total</td>
            </tr>
            </thead>
            <tbody>
            {% for a in books %}
            <tr>
                <td><a href="{% url 'store:book_detail' pk=a.id %}">{{ a.title }}</a></td>
                <td>{{ a.price }}</td>
                <td>{{ order_items.quantity }}</td>
                <td>{$ a.price * order_items.quantity $}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
